.connector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed;
    inset: 0;
    background-color: var(--color-layout);
}
.layout {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.layout::before,
.layout::after {
    content: " ";
    display: flex;
    width: 100%;
    flex: 1;
    min-height: 5vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.content {
    display: block;
    width: 100%;
    padding: 10px;
    margin-block: 10px;
    max-width: 400px;
    background-color: var(--color-content);
    box-shadow: 4px 4px 20px 10px var(--shadow-content);
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.symbol {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
}
.logo {
    max-width: 40px;
    min-width: 40px;
    min-height: 40px;
}
.text {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    color: var(--color-symbol)
}
.title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}
.comment {
    text-align: center;
    font-weight: 500;
    color: var(--color-symbol);
}
.form {
    margin-bottom: 10px;
}
.button {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: .1s ease;
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    white-space: normal;
    border-radius: 6px;
    flex: 1;
    max-width: 15em;
}
.button {
    color: #fff;
    background-color: #34495e;
    margin: 0 auto;
}
.button:not(:disabled):not(.disabled):hover {
    color: #fff;
    background-color: #415b76;
    cursor: pointer;
    border-color: #415b76;
}
.button:disabled,
.button:disabled {
    opacity: .7;
}
.button:not(:disabled):not(.disabled):active {
    background: #2c3e50;
    border-color: #2c3e50;
}
.happy {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--color-content);
    color: var(--color-text);
    padding: 10px;
    width: 100%;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid var(--color-border);
    transition: .2s;
}
.happy > span {
    margin-inline: auto;
}
.happy:hover {
    background-color: #2a52be11;
    cursor: pointer;
}
.google {
    width: 25px;
    height: 25px;
}