.sidebar {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    max-width: 300px;
    background-color: var(--color-sidebar);
    border-right: 1px solid var(--color-border);
    flex-wrap: nowrap;
    position: relative;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.symbol {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
}
.header .logo {
    max-width: 40px;
    min-width: 40px;
    min-height: 40px;
}
.header .text {
    font-weight: 700;
    font-size: 24px;
    white-space: nowrap;
    color: var(--color-symbol)
}
.button {
    display: inline-flex;
    min-width: 40px;
    min-height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    transition: .2s;
    color: var(--color-theme);
}
.button:hover {
    background-color: #0001;
    cursor: pointer;
}
.body {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    width: 100%;
    flex: 1;
}

.footer {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5px;
    gap: 5px;
    border-top: 1px solid var(--color-border);
}
.profile {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px;
    width: calc(100% - 60px);
    transition: .2s;
    border-radius: 10px;
}
.profile:hover {
    cursor: pointer;
    background-color: var(--color-theme-light);
}
.picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-layout);
}
.logout {
    min-width: 50px;
    font-size: 1.6em;
    background-color: transparent;
    transition: .2s;
    border: none;
    color: var(--color-theme);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout:hover {
    cursor: pointer;
    background-color: var(--color-theme-light);
}
.profileData {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-inline: 10px 5px;
    width: calc(100% - 40px);
}
.profileData > div {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profileName {
    font-weight: 700;
    font-size: 1.22em;
}
.profileNext {
    font-size: .9em;
    color: var(--color-symbol);
    font-weight: 500;
    display: flex !important;
}
.profileNext > svg {
    font-size: 1.3em;
    margin-left: 5px;
}
.searchbox,
.space {
    display: block;
    width: 100%;
    padding: 4px 10px;
}
.search {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    padding: 7px 10px;
    background-color: var(--color-layout);
    border: none;
    border-radius: 10px;
    transition: .2s;
}
.search:hover {
    cursor: pointer;
    background-color: var(--color-theme-light);
}
.search > svg {
    font-size: 1.1em;
    color: var(--color-symbol);
}
.search .text {
    color: var(--color-symbol);
    font-size: .9em;
    padding-inline: 10px;
}
.search .key {
    color: var(--color-theme);
    margin-left: 10px;
    font-weight: 600;
    margin-left: auto;
    padding-right: 5px;
}
.switch {
    width: 100%;
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    border: 1px solid var(--color-border);
    background-color: transparent;
    transition: .2s;
    border-radius: 10px;
}
.switch:hover {
    background-color: #0001;
    cursor: pointer;
}
.spaceicon {
    width: 30px;
    height: 30px;
    border: 5px;
    overflow: hidden;
}
.spacename {
    font-weight: 600;
    color: var(--color-theme);
    padding-inline: 10px;
    width: calc(100% - 30px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}

.Wc {
    display: block;
    padding: 20px 10px 0;
    color: var(--color-symbol);
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.Wcm {
    display: block;
    padding: 10px 10px 0;
    color: var(--color-symbol);
    font-size: 14px;
    text-align: center;
}